<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_luff"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_luff_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handbook">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BillActivity">
            <intent-filter>
                <action android:name="com.example.handbook.ACTION_BILL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DataGraphActivity" />
        <activity android:name=".DataListActivity" />
        <activity android:name=".ExpenseAddActivity" />
        <activity android:name=".IncomeAddActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>